body{
  background-color: black;
  color: white;
  text-decoration-color: white;
}

header{
  color: white;
}

h1{
  color: yellow;
}

h3{
  color: yellow;
}

ul{
  list-style-type: none;
  margin-left: 1px;
}

li a{

  background-color: yellow;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  color: black;
}
li{
  display: inline;
}
