body{
  background-color: #e0e0e0;
  color: #black;
}
ul{
  list-style-type: none;
  margin-left: 1px;
}

p{
  font-size: 
}

img{
  width:40%
  display: block;
  margin:auto;
}
li{
  display: inline;
}
li a{
  text-decoration: none;
  background-color: green;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  color: white;
}
