body{
  background-color: pink;
  font-family: helvetica, sans-serif;
}
#hoved{
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 5px;
}
#lantanider{
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 5px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.grunnstoff{
  background-color: #eee;
}
.col-span-16{
  grid-column: span 16;
}
.col-span-10{
  grid-column: span 10;
}
.tall, .navn{
padding-left: 10px;
}

.usynlig{
  opacity: 0;
}
.metaller {
  background-color: lightyellow;
}
.halvmetaller{
  background-color: lightblue;
}

.ikkemetaller {
  background-color: violet;
}
