body{
  background-color: pink;
}

header{
  display: grid;
  grid-template-columns: 10% 10% 10% 10% repeat(4, 10%);
  align-items: center;
}

h1{
  width: 100%;
  color: purple;

}

#hjem{
  grid-column: 3;
}


main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.kjempestorsak{
  grid-column: span 4;
  grid-row: span 4;
  width: 100%;
}



.storsak{
  grid-column: span 3;
  grid-row: span 3;
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.middelssak{
grid-column: span 2;
grid-row: span 2;
}
.litensak{
  grid-column: span 1;
  grid-row: span 1;
}

img{
  width: 90%;
}
